/* Default: Light Theme */
:root {
  /* background */
  --bg-default: #e8eaee;
  --bg-warning: #880;

  /* text */
  --text-color-default: #211a1a;
  --text-color-error: rgb(190, 6, 6);

  /* form */
  --input-border: #999;

  /* components*/
  --bg-schemas: #fed8e7;
  --text-color-schemas: rgb(136, 74, 88); /*#e63d81*/ /* #ba0092; */

  /* schema-as-entry*/
  --bg-schema-as-entry-card-header: #feb5d2;
  --text-color-schemas-as-entry: rgb(136, 74, 88);

  --bg-schema-as-child-card-header: #504e53;
  --text-color-schemas-as-child: rgb(254, 254, 254);

  /* checkbox*/
  --checkbox-border-hover: #57cf07;
  --checkbox-border: #444;
  --checkbox-bg-active: #07c717;
  --checkbox-mark: #444;

  /* links */
  --link-default: rgb(8, 62, 212);
  --link-hover: rgb(68, 107, 213);

  --nav-link-color: rgb(8, 62, 212);
  --nav-link-color-hover: rgb(29, 86, 242);
  --nav-link-color-active: rgb(1, 3, 11);

  --link2-color: rgb(176, 71, 1);
  --link2-color-hover: rgb(192, 110, 55);
  --link2-color-active: rgb(1, 3, 11);

  /* buttons  */
  --button-primary-bg: #044ec5;
  --button-primary-color: #efefef;
  --button-primary-bg-hover: #2578fc;
  --button-primary-color-hover: #efefef;

  --button-secondary-bg: #434b8a;
  --button-secondary-color: #ffffff;
  --button-secondary-bg-hover: #676b88;
  --button-secondary-color-hover: #ffffff;

  --button-schema-bg: #ba0092;
  --button-schema-color: #ffffff;
  --button-schema-bg-hover: #de66c4;
  --button-schema-color-hover: #ffffff;

  /* --button-secondary-bg-hover: #000000;
  --button-secondary-color-hover: #e3bc3c; */

  /* buttons */
  --color-primary-main: #044ec5;
}

html {
  font-size: 62.5%; /* this ensures all rems equate 1rem to 10px */
}

body {
  line-height: 1.5;
  margin: 0; /* Tailwind already resets this, but safe to add */
  font-family: 'FunnelSans', sans-serif;
  font-size: 1.6rem; /*1.6rem;*/
  color: var(--text-color-default);
}

@font-face {
  font-family: 'FunnelSans';
  src: url('@/assets/fonts/FunnelSans-Regular.woff2') format('woff2');
  font-weight: 400; /* normal */
  font-display: swap;
}

@font-face {
  font-family: 'FunnelSans';
  src: url('@/assets/fonts/FunnelSans-Medium.woff2') format('woff2');
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: 'FunnelSans';
  src: url('@/assets/fonts/FunnelSans-Bold.woff2') format('woff2');
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: 'FunnelSans';
  src: url('@/assets/fonts/FunnelSans-ExtraBold.woff2') format('woff2');
  font-weight: 900;
  font-display: swap;
}

* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */
a {
  color: var(--link-default);
  text-decoration: none;
}

a:hover {
  color: var(--link-hover);
}

input {
  color: var(--text-color-default);
}
